# Web framework
Flask==2.0.1
Gunicorn==20.1.0

# External API client library
polygon-api-client==1.2.0

#Exclusions messing up a simple Hello World app wow
--no-binary :all: numpy
Markupsafe!=2.0.0


